.box {
  height: 100vh !important;
  width: 100% !important;
  background-color: #1E252B
}


.box .profile {
  height: 1200px;
  width: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 0 auto;
  margin-left: 33%;
}

.box .overlap {
  border-radius: 20px;
  height: 910px;
  position: relative;
}

.box .haha {
  background-color: #292b2f;
  border-radius: 20px;
  height: 910px;
  left: 0;
  position: absolute;
  top: 0;
  width: 821px;
}

.box .overlap-group {
  background-color: #17181a;
  border-radius: 15px;
  height: 465px;
  left: 20px;
  position: absolute;
  top: 420px;
  width: 780px;
}

.box .rectangle {
  background-color: #202225;
  border-radius: 6px;
  height: 44px;
  left: 32px;
  position: relative;
  top: 410px;
  width: 271px;
}

.box .banner-DDD {
  height: 273px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 821px;
}

.box .spotfy {
  height: 37px;
  left: 66px;
  position: absolute;
  top: 816px;
  width: 92px;
}

.box .c1 {
  height: 37px;
  left: 0;
  position: absolute;
  top: 0;
  width: 31px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 10px;
  width: 49px;
}

.box .avatar {
  background-color: #292b2f;
  border-radius: 97.54px/96.9px;
  height: 194px;
  left: 20px;
  position: absolute;
  top: 187px;
  width: 195px;
}

.box .img {
  height: 165px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 166px;
}

.box .nick {
  height: 51px;
  left: 47px;
  position: absolute;
  top: 450px;
  width: 286px;
}

.box .div {
  height: 51px;
  position: relative;
  width: 282px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px; /* Adjusted font size */
  font-weight: 500;
  height: 51px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 151px;
}
.avatar .img {
  border-radius: 97.54px/96.9px;
  height: 194px;
  left: 20px;
  position: absolute;
  top: 187px;
  width: 195px;
  margin-top: -190px;
  margin-left: -20px;
}

#profile-picture-button {
  background-color: #FF6934;
  cursor: pointer;
  color: white;
  padding: 10px 10px ;
  border: none;
  border-radius: 5px;
  margin-top: -75px;
  margin-bottom: 50px;
  width: fit-content;
  margin-left: 150px;
  /* padding-right: 70px; */
  line-height: 1;
}
#update-profile {
  background-color: #FF6934;
  color: white;
  padding: 10px 10px ;
  border: none;
  border-radius: 5px;
  margin-top: -75px;
  margin-bottom: 10px;
  width: fit-content;
  margin-left: 640px;

  /* padding-right: 70px; */
  line-height: 1;
}

.box .text-wrapper-3 {
  color: #b9bbbe;
  font-family: "Poppins", Helvetica;
  font-size: 36px; /* Adjusted font size */
  font-weight: 700;
  height: 51px;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 171px;
}

.box .profilee {
  height: 140px;
  left: 47px; /* Adjusted left position */
  position: absolute; /* Changed from fixed to absolute */
  top: 593px; /* Adjusted top position */
  width: 144px;
}


.box .text-wrapper-4 {
  color: #b9bbbe;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 98px;
}

.box .text-wrapper-5 {
  color: #b9bbbe;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 94px;
  width: 98px;
}

.box .about {
  color: #dcddde;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 136px;
}

.box .note-click {
  color: #dcddde;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 5px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 125px;
  width: 107px;
}

.box .all-line {
  height: 209px;
  left: 47px;
  position: absolute;
  top: 571px;
  width: 726px;
}

.box .line-wrapper {
  background-image: url(../../../../public/imgProfile/line-1.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 1px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 726px;
}

.box .line {
  height: 1px;
  left: 95px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 85px;
}

.box .line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 208px;
  width: 726px;
}

.box .element-text {
  height: 22px;
  left: 105px;
  position: absolute;
  top: 543px;
  width: 489px;
}

.box .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 33%;
  cursor: pointer;
}

.box .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  left: 225px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 33%;
  cursor: pointer;
}

.box .text-wrapper-8 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 22px;
  left: 460px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 33%;
  cursor: pointer;
}
