.FSPC-signup {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.FSPC-signup .overlap-wrapper {
  background-color: #ffffff;
  border: 10px solid;
  border-color: #ffffff;
  height: 990px;
  overflow: hidden;
  width: 1920px;
}

.FSPC-signup .overlap {
  height: 1225px;
  left: -69px;
  position: relative;
  top: -60px;
  width: 1989px;
}

.FSPC-signup .rectangle {
  background-color: #ffffff;
  height: 1080px;
  left: 1178px;
  position: absolute;
  top: 60px;
  width: 811px;
}

.FSPC-signup .frame {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  left: 1379px;
  position: absolute;
  top: 347px;
}

.FSPC-signup .text-wrapper {
  color: #515151;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
  right: 100px;
}

.FSPC-signup .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.FSPC-signup .text-wrapper-2 {
  color: var(--gray-3);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

/* .FSPC-signup .div-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #ded2d9;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  padding: 13px 10px;
  position: relative;
  width: 420px;
} */

/* .FSPC-signup .text-wrapper-3 {
  color: var(--gray-5);
  align-items: center;
  border: 1px solid;
  border-color: #ded2d9;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  padding: 13px 10px;
  position: relative;
  width: 420px;
} */

.FSPC-signup .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.FSPC-signup .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.FSPC-signup .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

/* .FSPC-signup .frame-4 {
  align-items: center;
  border: 1px solid;
  border-color: #ded2d9;
  border-radius: 5px;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  padding: 18px 10px 13px;
  position: relative;
  width: 420px;
} */

.FSPC-signup .text-wrapper-4 {
  color: var(--gray-5);
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}


.FSPC-signup .text-wrapper-5 {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}



.FSPC-signup .frame-6 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1431px;
  position: absolute;
  top: 975px;
}

.FSPC-signup .text-wrapper-6 {
  color: var(--gray-3);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.FSPC-signup .text-wrapper-7 {
  color: #7f265b;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.FSPC-signup .illustration {
  height: 1225px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1243px;
}

.FSPC-signup .overlap-group {
  height: 1140px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1239px;
}

.FSPC-signup .rectangle-2 {
  background-color: #1e222b;
  height: 1080px;
  left: 69px;
  position: absolute;
  top: 60px;
  width: 1109px;
}

.FSPC-signup .img {
  height: 597px;
  left: 332px;
  position: absolute;
  top: 239px;
  width: 594px;
}

.FSPC-signup .vector {
  height: 65px;
  left: 733px;
  position: absolute;
  top: 248px;
  width: 65px;
}

.FSPC-signup .vector-2 {
  height: 37px;
  left: 892px;
  position: absolute;
  top: 643px;
  width: 37px;
}

.FSPC-signup .vector-3 {
  height: 82px;
  left: 1012px;
  position: absolute;
  top: 1031px;
  width: 167px;
}

.FSPC-signup .vector-4 {
  height: 25px;
  left: 204px;
  position: absolute;
  top: 903px;
  width: 25px;
}

.FSPC-signup .group {
  height: 512px;
  left: 415px;
  position: absolute;
  top: 115px;
  width: 544px;
}

.FSPC-signup .group-2 {
  height: 565px;
  left: 374px;
  position: absolute;
  top: 329px;
  width: 499px;
}

.FSPC-signup .overlap-group-wrapper {
  height: 293px;
  left: 0;
  position: absolute;
  top: 0;
  width: 297px;
}

.login-button {
  background-color: #7f265b; /* Change to your preferred color */
  color: #fff; /* Change to your preferred text color */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #1e222b; /* Change to your preferred hover color */
}

/* Add this to your CSS */
.signup-button {
  align-items: center;
  background-color: #7f265b;
  margin-top: 25px;
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  gap: 13px;
  justify-content: center;
  padding: 13px 10px 12px;
  position: relative;
  width: 420px; /* Adjust the width as needed */
  color: #fff; /* Text color */
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out; /* Smooth hover transition */
}

.signup-button:hover {
  background-color: #1e222b; /* Hover color */
}


.FSPC-signup .overlap-group-2 {
  background-image: url(../../../../public/img/rectangle-1.png);
  background-size: 100% 100%;
  height: 233px;
  left: 69px;
  position: relative;
  top: 60px;
  width: 228px;
}

.FSPC-signup .vector-5 {
  height: 168px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 218px;
}

.FSPC-signup .vector-6 {
  height: 167px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 229px;
}

.FSPC-signup .text-wrapper-8 {
  color: #e5ac62;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 800;
  left: 364px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 923px;
}

.FSPC-signup .text-wrapper-9 {
  color: #b44538;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  left: 528px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 970px;
}

.FSPC-signup .vector-7 {
  height: 34px;
  left: 238px;
  position: absolute;
  top: 634px;
  width: 48px;
}

.FSPC-signup .vector-8 {
  height: 2px;
  left: 1068px;
  position: absolute;
  top: 694px;
  width: 2px;
}

.FSPC-signup .vector-9 {
  height: 3px;
  left: 223px;
  position: absolute;
  top: 539px;
  width: 3px;
}

.FSPC-signup .vector-10 {
  height: 3px;
  left: 1061px;
  position: absolute;
  top: 700px;
  width: 3px;
}

.FSPC-signup .vector-11 {
  height: 3px;
  left: 1015px;
  position: absolute;
  top: 680px;
  width: 3px;
}

.FSPC-signup .vector-12 {
  height: 3px;
  left: 238px;
  position: absolute;
  top: 583px;
  width: 3px;
}

.FSPC-signup .group-3 {
  height: 34px;
  left: 449px;
  position: absolute;
  top: 195px;
  width: 48px;
}

.FSPC-signup .vector-13 {
  height: 3px;
  left: 1038px;
  position: absolute;
  top: 283px;
  width: 3px;
}

.FSPC-signup .vector-14 {
  height: 3px;
  left: 191px;
  position: absolute;
  top: 886px;
  width: 3px;
}

.FSPC-signup .vector-15 {
  height: 3px;
  left: 132px;
  position: absolute;
  top: 403px;
  width: 3px;
}

.FSPC-signup .vector-16 {
  height: 3px;
  left: 958px;
  position: absolute;
  top: 1103px;
  width: 3px;
}

.FSPC-signup .vector-17 {
  height: 6px;
  left: 979px;
  position: absolute;
  top: 307px;
  width: 6px;
}

.FSPC-signup .vector-18 {
  height: 6px;
  left: 132px;
  position: absolute;
  top: 910px;
  width: 6px;
}

.FSPC-signup .vector-19 {
  height: 6px;
  left: 1034px;
  position: absolute;
  top: 442px;
  width: 6px;
}

.FSPC-signup .vector-20 {
  height: 6px;
  left: 187px;
  position: absolute;
  top: 1045px;
  width: 6px;
}

.FSPC-signup .vector-21 {
  height: 6px;
  left: 391px;
  position: absolute;
  top: 122px;
  width: 6px;
}

.FSPC-signup .vector-22 {
  height: 6px;
  left: 1060px;
  position: absolute;
  top: 966px;
  width: 6px;
}

.FSPC-signup .vector-23 {
  height: 3px;
  left: 609px;
  position: absolute;
  top: 158px;
  width: 3px;
}

.FSPC-signup .vector-24 {
  height: 3px;
  left: 710px;
  position: absolute;
  top: 165px;
  width: 3px;
}

.FSPC-signup .vector-25 {
  height: 2px;
  left: 368px;
  position: absolute;
  top: 686px;
  width: 2px;
}

.FSPC-signup .vector-26 {
  height: 3px;
  left: 349px;
  position: absolute;
  top: 725px;
  width: 3px;
}

.FSPC-signup .vector-27 {
  height: 2px;
  left: 966px;
  position: absolute;
  top: 144px;
  width: 2px;
}

.FSPC-signup .vector-28 {
  height: 2px;
  left: 1037px;
  position: absolute;
  top: 129px;
  width: 2px;
}

.FSPC-signup .vector-29 {
  height: 3px;
  left: 1106px;
  position: absolute;
  top: 202px;
  width: 3px;
}

.FSPC-signup .vector-30 {
  height: 3px;
  left: 881px;
  position: absolute;
  top: 157px;
  width: 3px;
}

.FSPC-signup .group-4 {
  height: 107px;
  left: 791px;
  position: absolute;
  top: 480px;
  width: 196px;
}

.FSPC-signup .group-5 {
  height: 99px;
  left: 309px;
  position: absolute;
  top: 460px;
  width: 181px;
}

.FSPC-signup .vector-31 {
  height: 3px;
  left: -2126px;
  position: absolute;
  top: 3872px;
  width: 3px;
}

.FSPC-signup .group-6 {
  height: 72px;
  left: 1379px;
  position: absolute;
  top: 239px;
  width: 72px;
}

.FSPC-signup .oval-copy {
  height: 11px;
  left: 51px;
  position: absolute;
  top: 9px;
  width: 11px;
}

.FSPC-signup .overlap-2 {
  height: 30px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 29px;
}

.FSPC-signup .oval-copy-2 {
  height: 11px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 11px;
}

.FSPC-signup .rectangle-3 {
  background-color: #555555;
  border-radius: 24px;
  height: 7px;
  left: 10px;
  position: absolute;
  top: 11px;
  transform: rotate(90deg);
  width: 30px;
}

.FSPC-signup .overlap-3 {
  height: 30px;
  left: 11px;
  position: absolute;
  top: 42px;
  width: 29px;
}

.FSPC-signup .oval-copy-3 {
  height: 11px;
  left: 51px;
  position: absolute;
  top: 52px;
  width: 11px;
}

.FSPC-signup .rectangle-4 {
  background-color: #555555;
  border-radius: 24px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 32px;
  width: 72px;
}
